- Read sheet "Australia by Residence" from Australia.xlsx
- Ignore the first 20 rows.
- List all Column and Row indexes(Print their names)

Dataset Analysis
- Describe the dataset
- Use values and index attributes on both Row and Column Indexes
- Check Shape, Datatypes and other attributes and observe the datatype of each columns' data
  

Drop
- Delete all Data where the Type = "Emigrants" or Type is not "Immigrants" (Row Deletion)
- Find columns for which more than 50% data is missing and drop them (Column Deletion)
- Drop Unnessary Columns: Type, Coverage, Area, Reg, Dev (Column deletion)
    Your columns should now look like "OdName,AreaName,RegName,DevName,1980 ... 2008"

Rename
- Rename columns :OdName -> Country; RegName -> Region
- Convert Column Names with Int type to Strings to avoid index errors with string indexing "1980, 1981 etc." => " '1980', '1981' ... " (Use rename)
- Find Total number of immigrants for all years, and create a new column Total in data Frame

Head Tail Sort
- Sort Data by the new column Total in descending order and analyze the fist few rows. (get first few rows using head)
    - find something weird in the dataset ? Delete that row 'world'
- Analyze last few rows also in the sorted result (Don't sort inplace)

- Check if these have all unique values or not:
    - countries
    - continents (AreaName)
    - country continent pairs


- Find countries for which no of immigrants for all years is 0
- Find count of above countries
- Find countries for which no of immigrants is 0 for any year

Save Data
- Drop the row where AreaName is 'World'
- Save the dataset to a new file AustraliaFiltered.xlsx

In [2]:
import pandas as pd
anz = pd.read_excel('Australia.xlsx')
anz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 38 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   68 non-null     object
 1   Unnamed: 1   57 non-null     object
 2   Unnamed: 2   58 non-null     object
 3   Unnamed: 3   47 non-null     object
 4   Unnamed: 4   57 non-null     object
 5   Unnamed: 5   57 non-null     object
 6   Unnamed: 6   57 non-null     object
 7   Unnamed: 7   57 non-null     object
 8   Unnamed: 8   57 non-null     object
 9   Unnamed: 9   57 non-null     object
 10  Unnamed: 10  57 non-null     object
 11  Unnamed: 11  57 non-null     object
 12  Unnamed: 12  57 non-null     object
 13  Unnamed: 13  57 non-null     object
 14  Unnamed: 14  57 non-null     object
 15  Unnamed: 15  57 non-null     object
 16  Unnamed: 16  57 non-null     object
 17  Unnamed: 17  57 non-null     object
 18  Unnamed: 18  57 non-null     float64
 19  Unnamed: 19  57 non-null     float64
 20  Unnamed: 20  57 non-null     float64
 21  Unnamed: 21  57 non-null     float64
 22  Unnamed: 22  57 non-null     float64
 23  Unnamed: 23  57 non-null     float64
 24  Unnamed: 24  57 non-null     float64
 25  Unnamed: 25  57 non-null     float64
 26  Unnamed: 26  57 non-null     float64
 27  Unnamed: 27  57 non-null     float64
 28  Unnamed: 28  57 non-null     float64
 29  Unnamed: 29  57 non-null     float64
 30  Unnamed: 30  57 non-null     float64
 31  Unnamed: 31  57 non-null     float64
 32  Unnamed: 32  57 non-null     float64
 33  Unnamed: 33  57 non-null     object
 34  Unnamed: 34  57 non-null     object
 35  Unnamed: 35  57 non-null     object
 36  Unnamed: 36  57 non-null     object
 37  Unnamed: 37  1 non-null      float64
dtypes: float64(16), object(22)
memory usage: 22.7+ KB