|Variable|Definition|Key|
|---|---|---|
|survival|Survival|0 = No, 1 = Yes|
|pclass|Ticket class|1 = 1st, 2 = 2nd, 3 = 3rd|
|gender|gender ||
|Age |Age in years| |
|sibsp |number of siblings / spouses aboard|	|
|parch |number of parents / children aboard| |
|ticket|Ticket number ||
|fare | fare| 	|
|cabin |Cabin number|	|
|embarked|Port of Embarkation|C = Cherbourg, Q = Queenstown, S = Southampton|
|boat | Lifeboat||
|body | Body Identification Number||
|home.dest| Home/destination||

- Read data and describe it
- Find columns with missingdata
- Print shape of dataset
- drop columns with more than 25% missing data
- drop columns having independent values(which do not affect the survival rate).


- check data types of all columns
- convert price to numeric
- find columns still having missing/na values and also count of missing data
- fill na with mean for fare and age column column.
- drop na values for embarked column.
- dump the dataframe to a csv file 'titanic_filtered.csv'.


- for surviced column replace 0 with D and 1 with A
- find the frequency of different values in survived column
- group by gender and survived and see the counts in each category
- find different pclass and no of people in each class

- find top 5 people with highest values of age. Count no of male and females in the top 5
- find max age male and female who survived
- get average age by gender
- get average age by people survived vs not-survived

In [14]:
import pandas as pd
d=pd.read_csv('../titanic_dataset.csv')
print(d.head())
print(d.describe())

   Unnamed: 0  pclass  survived  \
0           0       1         1
1           1       1         1
2           2       1         0
3           3       1         0
4           4       1         0

                                              name  gender      age  sibsp  \
0                    Allen, Miss. Elisabeth Walton  female  29.0000      0
1                   Allison, Master. Hudson Trevor    male   0.9167      1
2                     Allison, Miss. Helen Loraine  female   2.0000      1
3             Allison, Mr. Hudson Joshua Creighton    male  30.0000      1
4  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.0000      1

   parch  ticket      fare    cabin embarked boat   body  \
0      0   24160  $211.34        B5        S    2    NaN
1      2  113781  $151.55   C22 C26        S   11    NaN
2      2  113781  $151.55   C22 C26        S  NaN    NaN
3      2  113781  $151.55   C22 C26        S  NaN  135.0
4      2  113781  $151.55   C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON
        Unnamed: 0       pclass     survived          age        sibsp  \
count  1309.000000  1309.000000  1309.000000  1046.000000  1309.000000
mean    654.000000     2.294882     0.381971    29.881135     0.498854
std     378.020061     0.837836     0.486055    14.413500     1.041658
min       0.000000     1.000000     0.000000     0.166700     0.000000
25%     327.000000     2.000000     0.000000    21.000000     0.000000
50%     654.000000     3.000000     0.000000    28.000000     0.000000
75%     981.000000     3.000000     1.000000    39.000000     1.000000
max    1308.000000     3.000000     1.000000    80.000000     8.000000

             parch        body
count  1309.000000  121.000000
mean      0.385027  160.809917
std       0.865560   97.696922
min       0.000000    1.000000
25%       0.000000   72.000000
50%       0.000000  155.000000
75%       0.000000  256.000000
max       9.000000  328.000000

In [45]:
d.columns[d.isnull().any()]

Index(['age', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'], dtype='object')

In [53]:
re=0.75*len(d)
r=d.dropna(thresh=re,axis=1)
print(r.columns)

Index(['Unnamed: 0', 'pclass', 'survived', 'name', 'gender', 'age', 'sibsp',
       'parch', 'ticket', 'fare', 'embarked'],
      dtype='object')

In [63]:
d.drop(columns=['Unnamed: 0','name'],inplace=True)

KeyError: "['Unnamed: 0' 'name'] not found in axis"

In [64]:
print(d.columns)

Index(['pclass', 'survived', 'gender', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [65]:
print(d.dtypes)

pclass         int64
survived       int64
gender        object
age          float64
sibsp          int64
parch          int64
ticket        object
fare          object
cabin         object
embarked      object
boat          object
body         float64
home.dest     object
dtype: object

In [126]:
d.fare.str.lstrip('$').astype(float).round().astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [83]:


r=d.isna().sum()
r.values.sum()

3855

In [117]:
r=d.count()
r[r<d.shape[0]].index

Index(['age', 'cabin', 'embarked', 'boat', 'body', 'home.dest'], dtype='object')

In [121]:
print(d.embarked.dropna(inplace=True))

None

In [127]:
d.to_csv('titanic_filtered.csv')

In [131]:
d.survived.replace(0,'D',inplace=True)
d.survived.replace(1,'A',inplace=True)
d.survived

0       A
1       A
2       D
3       D
4       D
       ..
1304    D
1305    D
1306    D
1307    D
1308    D
Name: survived, Length: 1309, dtype: object

In [134]:
d.survived.value_counts()

D    809
A    500
Name: survived, dtype: int64

In [136]:
d.pclass.unique()
d.pclass.value_counts()

3    709
1    323
2    277
Name: pclass, dtype: int64

In [143]:
r=d.nlargest(5,['age'])
r.gender.value_counts()

male      4
female    1
Name: gender, dtype: int64

In [177]:
d.groupby(by=['age','gender']).count()

,,pclass,survived,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
age,gender,,,,,,,,,,,
0.1667,female,1,1,1,1,1,1,0,1,1,0,1
0.3333,male,1,1,1,1,1,1,0,1,0,0,1
0.4167,male,1,1,1,1,1,1,0,1,1,0,0
0.6667,male,1,1,1,1,1,1,0,1,1,0,1
0.7500,female,2,2,2,2,2,2,0,2,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
70.5000,male,1,1,1,1,1,1,0,1,0,1,0
71.0000,male,2,2,2,2,2,2,1,2,0,1,2
74.0000,male,1,1,1,1,1,1,0,1,0,0,0
76.0000,female,1,1,1,1,1,1,1,1,1,0,1
80.0000,male,1,1,1,1,1,1,1,1,1,0,1

In [182]:
d.groupby(by=['gender']).age.mean()

gender
female    28.687071
male      30.585233
Name: age, dtype: float64

In [186]:
d.groupby(by=['survived','gender']).age.max()

survived  gender
A         female    76.0
          male      80.0
D         female    63.0
          male      74.0
Name: age, dtype: float64

In [188]:
d.groupby(by=['survived']).age.mean()

survived
A    28.918228
D    30.545369
Name: age, dtype: float64