- Read sheet "Australia by Residence" from Australia.xlsx
- Ignore the first 20 rows.
- List all Column and Row indexes(Print their names)

Dataset Analysis
- Describe the dataset
- Use values and index attributes on both Row and Column Indexes
- Check Shape, Datatypes and other attributes and observe the datatype of each columns' data
  

Drop
- Delete all Data where the Type = "Emigrants" or Type is not "Immigrants" (Row Deletion)
- Find columns for which more than 50% data is missing and drop them (Column Deletion)
- Drop Unnessary Columns: Type, Coverage, Area, Reg, Dev (Column deletion)
    Your columns should now look like "OdName,AreaName,RegName,DevName,1980 ... 2008"

Rename
- Rename columns :OdName -> Country; RegName -> Region
- Convert Column Names with Int type to Strings to avoid index errors with string indexing "1980, 1981 etc." => " '1980', '1981' ... " (Use rename)
- Find Total number of immigrants for all years, and create a new column Total in data Frame

Head Tail Sort
- Sort Data by the new column Total in descending order and analyze the fist few rows. (get first few rows using head)
    - find something weird in the dataset ? Delete that row 'world'
- Analyze last few rows also in the sorted result (Don't sort inplace)

- Check if these have all unique values or not:
    - countries
    - continents (AreaName)
    - country continent pairs


- Find countries for which no of immigrants for all years is 0
- Find count of above countries
- Find countries for which no of immigrants is 0 for any year

Save Data
- Drop the row where AreaName is 'World'
- Save the dataset to a new file AustraliaFiltered.xlsx

In [113]:
import pandas as pd
xls = pd.ExcelFile('Australia.xlsx')
d = xls.parse('Australia by Residence', skiprows=20, index_col=None)
print(d.columns)
print(d.index)

Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')
RangeIndex(start=0, stop=448, step=1)

In [114]:
print(d.describe())
print(d.shape)
print(d.dtypes)
print(d.iloc[1:3, 0:3])
print(d.loc[22:26,'Type':'OdName'])

             AREA          REG         DEV           1980           1981  \
count  448.000000   448.000000  448.000000     448.000000     448.000000
mean   912.955357  1208.040179  902.642857    1228.348214    1331.651786
std     15.019682  1109.669573    9.165500   10145.734028   11349.461111
min    903.000000   905.000000  901.000000       0.000000       0.000000
25%    903.750000   914.000000  902.000000       0.000000       0.000000
50%    908.000000   922.000000  902.000000      10.000000      10.000000
75%    909.000000   926.000000  902.000000     130.000000     140.000000
max    999.000000  5501.000000  999.000000  184290.000000  212690.000000

                1982           1983           1984           1985  \
count     448.000000     448.000000     448.000000     448.000000
mean     1283.660714    1134.285714    1115.580357    1187.455357
std     10643.064898    8965.372332    8805.489574    9545.180624
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%        10.000000      10.000000      10.000000      10.000000
75%       160.000000     150.000000     162.500000     162.500000
max    195200.000000  153570.000000  153530.000000  172550.000000

                1986  ...           1999           2000           2001  \
count     448.000000  ...     448.000000     448.000000     448.000000
mean     1290.803571  ...    2122.946429    2337.857143    2555.982143
std     10588.914966  ...   16727.854191   18384.758383   20198.020921
min         0.000000  ...       0.000000       0.000000       0.000000
25%         0.000000  ...       0.000000      10.000000      10.000000
50%        10.000000  ...      30.000000      35.000000      40.000000
75%       182.500000  ...     362.500000     372.500000     360.000000
max    196690.000000  ...  289870.000000  317560.000000  356410.000000

                2002           2003           2004           2005  \
count     448.000000     448.000000     448.000000     448.000000
mean     2611.294643    2738.125000    2514.241071    2545.357143
std     20573.219253   21745.929611   19834.528214   20203.441660
min         0.000000       0.000000       0.000000       0.000000
25%        10.000000      10.000000      10.000000      10.000000
50%        45.000000      50.000000      50.000000      50.000000
75%       390.000000     420.000000     400.000000     410.000000
max    361990.000000  388450.000000  350990.000000  363470.000000

                2006           2007           2008
count     448.000000     448.000000     448.000000
mean     2709.866071    3023.348214    3376.116071
std     21786.641444   24542.748186   27950.462893
min         0.000000       0.000000       0.000000
25%        10.000000      10.000000      10.000000
50%        60.000000      70.000000      75.000000
75%       455.000000     480.000000     512.500000
max    402210.000000  460650.000000  535970.000000

[8 rows x 32 columns]
(448, 43)
Type        object
Coverage    object
OdName      object
AREA         int64
AreaName    object
REG          int64
RegName     object
DEV          int64
DevName     object
1980         int64
1981         int64
1982         int64
1983         int64
1984         int64
1985         int64
1986         int64
1987         int64
1988         int64
1989         int64
1990         int64
1991         int64
1992         int64
1993         int64
1994         int64
1995         int64
1996         int64
1997         int64
1998         int64
1999         int64
2000         int64
2001         int64
2002         int64
2003         int64
2004         int64
2005         int64
2006         int64
2007         int64
2008         int64
2009        object
2010        object
2011        object
2012        object
2013        object
dtype: object
        Type Coverage   OdName
1  Emigrants     Both  Albania
2  Emigrants     Both  Algeria
         Type Coverage                            OdName
22  Emigrants     Both                           Bermuda
23  Emigrants     Both                            Bhutan
24  Emigrants     Both  Bolivia (Plurinational State of)
25  Emigrants     Both            Bosnia and Herzegovina
26  Emigrants     Both                          Botswana

In [115]:
d.drop(d[d['Type']=='Emigrants'].index,inplace=True,axis=0)

In [116]:
r=0.5*len(d)
d.dropna(thresh=r,axis=1,inplace=True)

In [117]:
d.drop(columns=['Type','Coverage','AREA','REG','DEV'])

,OdName,AreaName,RegName,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
224,Afghanistan,Asia,Southern Asia,Developing regions,10,20,30,30,70,100,...,80,110,180,140,560,..,..,..,..,..
225,Albania,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,140,130,110,110,140,..,..,..,..,..
226,Algeria,Africa,Northern Africa,Developing regions,10,50,30,10,20,20,...,20,50,30,30,60,..,..,..,..,..
227,American Samoa,Oceania,Polynesia,Developing regions,0,0,0,0,0,20,...,0,0,0,0,10,..,..,..,..,..
228,Andorra,Europe,Southern Europe,Developed regions,0,0,10,0,0,0,...,10,10,0,10,10,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,Yemen,Asia,Western Asia,Developing regions,10,0,0,10,20,10,...,40,20,10,40,40,..,..,..,..,..
444,Zambia,Africa,Eastern Africa,Developing regions,150,110,120,180,130,170,...,370,240,410,410,400,..,..,..,..,..
445,Zimbabwe,Africa,Eastern Africa,Developing regions,630,1120,1190,980,640,500,...,1790,1560,1880,2180,2270,..,..,..,..,..
446,Unknown,World,World,World,4060,4440,4010,3220,3970,4610,...,1650,1800,2320,18310,4970,..,..,..,..,..
447,Total,World,World,World,184290,212690,195200,153570,153530,172550,...,350990,363470,402210,460650,535970,..,..,..,..,..

In [146]:
d.rename(columns={'OdName':'Country','RegName':'Region'},inplace=True)
print(d)

           Type Coverage         Country  AREA AreaName   REG  \
224  Immigrants     Both     Afghanistan   935     Asia  5501
225  Immigrants     Both         Albania   908   Europe   925
226  Immigrants     Both         Algeria   903   Africa   912
227  Immigrants     Both  American Samoa   909  Oceania   957
228  Immigrants     Both         Andorra   908   Europe   925
..          ...      ...             ...   ...      ...   ...
442  Immigrants     Both  Western Sahara   903   Africa   912
443  Immigrants     Both           Yemen   935     Asia   922
444  Immigrants     Both          Zambia   903   Africa   910
445  Immigrants     Both        Zimbabwe   903   Africa   910
446  Immigrants     Both         Unknown   999    World   999

              Region  DEV             DevName  1980  ...  2005  2006   2007  \
224    Southern Asia  902  Developing regions    10  ...   110   180    140
225  Southern Europe  901   Developed regions     0  ...   130   110    110
226  Northern Africa  902  Developing regions    10  ...    50    30     30
227        Polynesia  902  Developing regions     0  ...     0     0      0
228  Southern Europe  901   Developed regions     0  ...    10     0     10
..               ...  ...                 ...   ...  ...   ...   ...    ...
442  Northern Africa  902  Developing regions     0  ...     0     0      0
443     Western Asia  902  Developing regions    10  ...    20    10     40
444   Eastern Africa  902  Developing regions   150  ...   240   410    410
445   Eastern Africa  902  Developing regions   630  ...  1560  1880   2180
446            World  999               World  4060  ...  1800  2320  18310

     2008  2009  2010  2011  2012  2013   Total
224   560    ..    ..    ..    ..    ..   11968
225   140    ..    ..    ..    ..    ..    4644
226    60    ..    ..    ..    ..    ..    3447
227    10    ..    ..    ..    ..    ..    2798
228    10    ..    ..    ..    ..    ..    2834
..    ...   ...   ...   ...   ...   ...     ...
442     0    ..    ..    ..    ..    ..    2717
443    40    ..    ..    ..    ..    ..    3329
444   400    ..    ..    ..    ..    ..    8305
445  2270    ..    ..    ..    ..    ..   30065
446  4970    ..    ..    ..    ..    ..  144657

[223 rows x 44 columns]

In [118]:
d.dtypes

Type        object
Coverage    object
OdName      object
AREA         int64
AreaName    object
REG          int64
RegName     object
DEV          int64
DevName     object
1980         int64
1981         int64
1982         int64
1983         int64
1984         int64
1985         int64
1986         int64
1987         int64
1988         int64
1989         int64
1990         int64
1991         int64
1992         int64
1993         int64
1994         int64
1995         int64
1996         int64
1997         int64
1998         int64
1999         int64
2000         int64
2001         int64
2002         int64
2003         int64
2004         int64
2005         int64
2006         int64
2007         int64
2008         int64
2009        object
2010        object
2011        object
2012        object
2013        object
dtype: object

In [120]:
d.dtypes.index=d.dtypes.index.astype('str')
d.columns=d.columns.astype('str')
d.columns.map(type)

Type        object
Coverage    object
OdName      object
AREA         int64
AreaName    object
REG          int64
RegName     object
DEV          int64
DevName     object
1980         int64
1981         int64
1982         int64
1983         int64
1984         int64
1985         int64
1986         int64
1987         int64
1988         int64
1989         int64
1990         int64
1991         int64
1992         int64
1993         int64
1994         int64
1995         int64
1996         int64
1997         int64
1998         int64
1999         int64
2000         int64
2001         int64
2002         int64
2003         int64
2004         int64
2005         int64
2006         int64
2007         int64
2008         int64
2009        object
2010        object
2011        object
2012        object
2013        object
dtype: object

In [196]:
d['Total']=d.iloc[:,-35:-1].sum(axis=1)
print(d)

           Type Coverage         Country  AREA AreaName   REG  \
224  Immigrants     Both     Afghanistan   935     Asia  5501
225  Immigrants     Both         Albania   908   Europe   925
226  Immigrants     Both         Algeria   903   Africa   912
227  Immigrants     Both  American Samoa   909  Oceania   957
228  Immigrants     Both         Andorra   908   Europe   925
..          ...      ...             ...   ...      ...   ...
442  Immigrants     Both  Western Sahara   903   Africa   912
443  Immigrants     Both           Yemen   935     Asia   922
444  Immigrants     Both          Zambia   903   Africa   910
445  Immigrants     Both        Zimbabwe   903   Africa   910
446  Immigrants     Both         Unknown   999    World   999

              Region  DEV             DevName  1980  ...  2005  2006   2007  \
224    Southern Asia  902  Developing regions    10  ...   110   180    140
225  Southern Europe  901   Developed regions     0  ...   130   110    110
226  Northern Africa  902  Developing regions    10  ...    50    30     30
227        Polynesia  902  Developing regions     0  ...     0     0      0
228  Southern Europe  901   Developed regions     0  ...    10     0     10
..               ...  ...                 ...   ...  ...   ...   ...    ...
442  Northern Africa  902  Developing regions     0  ...     0     0      0
443     Western Asia  902  Developing regions    10  ...    20    10     40
444   Eastern Africa  902  Developing regions   150  ...   240   410    410
445   Eastern Africa  902  Developing regions   630  ...  1560  1880   2180
446            World  999               World  4060  ...  1800  2320  18310

     2008  2009  2010  2011  2012  2013   Total
224   560    ..    ..    ..    ..    ..    4630
225   140    ..    ..    ..    ..    ..    1910
226    60    ..    ..    ..    ..    ..     730
227    10    ..    ..    ..    ..    ..      30
228    10    ..    ..    ..    ..    ..     100
..    ...   ...   ...   ...   ...   ...     ...
442     0    ..    ..    ..    ..    ..       0
443    40    ..    ..    ..    ..    ..     570
444   400    ..    ..    ..    ..    ..    5590
445  2270    ..    ..    ..    ..    ..   27350
446  4970    ..    ..    ..    ..    ..  141660

[223 rows x 44 columns]

In [136]:
d.sort_values('Total',ascending=False)
i=d[(d.RegName=='World') & (d.Total==7968107)].index
d.drop(index=i,inplace=True)

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
432,Immigrants,Both,United Kingdom of Great Britain and Northern I...,908,Europe,924,Northern Europe,901,Developed regions,43540,...,53300,57250,61490,65160,..,..,..,..,..,1336073
367,Immigrants,Both,New Zealand,909,Oceania,927,Australia and New Zealand,901,Developed regions,34370,...,44680,45550,39120,46960,..,..,..,..,..,901497
434,Immigrants,Both,United States of America,905,Northern America,905,Northern America,901,Developed regions,10470,...,18490,17320,19260,20860,..,..,..,..,..,453081
266,Immigrants,Both,"China, Hong Kong Special Administrative Region",935,Asia,906,Eastern Asia,902,Developing regions,4170,...,10070,10270,9680,11030,..,..,..,..,..,391383
265,Immigrants,Both,China,935,Asia,906,Eastern Asia,902,Developing regions,860,...,28820,32190,42920,54300,..,..,..,..,..,389923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442,Immigrants,Both,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,0,0,..,..,..,..,..,2717
262,Immigrants,Both,Central African Republic,903,Africa,911,Middle Africa,902,Developing regions,0,...,0,0,0,0,..,..,..,..,..,2716
270,Immigrants,Both,Comoros,903,Africa,910,Eastern Africa,902,Developing regions,0,...,0,0,0,0,..,..,..,..,..,2715
353,Immigrants,Both,Mayotte,903,Africa,910,Eastern Africa,902,Developing regions,0,...,0,0,0,0,..,..,..,..,..,2715
306,Immigrants,Both,Greenland,905,Northern America,905,Northern America,901,Developed regions,0,...,0,0,0,0,..,..,..,..,..,2711

In [139]:
r=d.sort_values('Total',ascending=False)
r.tail(10)

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
308,Immigrants,Both,Guadeloupe,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,0,...,0,0,0,0,..,..,..,..,..,2721
435,Immigrants,Both,United States Virgin Islands,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,0,...,0,0,0,0,..,..,..,..,..,2721
395,Immigrants,Both,Saint Vincent and the Grenadines,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,0,...,0,0,0,0,..,..,..,..,..,2721
230,Immigrants,Both,Anguilla,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,0,...,0,0,0,0,..,..,..,..,..,2721
392,Immigrants,Both,Saint Helena,903,Africa,914,Western Africa,902,Developing regions,0,...,0,0,0,0,..,..,..,..,..,2719
442,Immigrants,Both,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,0,0,..,..,..,..,..,2717
262,Immigrants,Both,Central African Republic,903,Africa,911,Middle Africa,902,Developing regions,0,...,0,0,0,0,..,..,..,..,..,2716
270,Immigrants,Both,Comoros,903,Africa,910,Eastern Africa,902,Developing regions,0,...,0,0,0,0,..,..,..,..,..,2715
353,Immigrants,Both,Mayotte,903,Africa,910,Eastern Africa,902,Developing regions,0,...,0,0,0,0,..,..,..,..,..,2715
306,Immigrants,Both,Greenland,905,Northern America,905,Northern America,901,Developed regions,0,...,0,0,0,0,..,..,..,..,..,2711

In [252]:
print(d.shape[0]==len(d.Country.unique()))
print(d.shape[0]==len(d.AreaName.unique()))

True
False

In [257]:
print(d.shape[0]==len(d.groupby(by=['Country','AreaName']).groups.keys()))

True

In [199]:
d[d.Total==0].Country.size

13

In [207]:
d[(d.iloc[:,-35:-1]==0).any(axis='columns')].Country

225                         Albania
227                  American Samoa
228                         Andorra
229                          Angola
230                        Anguilla
                   ...
435    United States Virgin Islands
437                      Uzbekistan
441       Wallis and Futuna Islands
442                  Western Sahara
443                           Yemen
Name: Country, Length: 121, dtype: object

In [222]:
i=d[d.AreaName=='World'].index
d.drop(index=i,inplace=True)

In [258]:
d.to_excel(r'AustraliaFiltered.xlsx')