|Variable|Definition|Key|
|---|---|---|
|survival|Survival|0 = No, 1 = Yes|
|pclass|Ticket class|1 = 1st, 2 = 2nd, 3 = 3rd|
|gender|gender ||
|Age |Age in years| |
|sibsp |number of siblings / spouses aboard|	|
|parch |number of parents / children aboard| |
|ticket|Ticket number ||
|fare | fare| 	|
|cabin |Cabin number|	|
|embarked|Port of Embarkation|C = Cherbourg, Q = Queenstown, S = Southampton|
|boat | Lifeboat||
|body | Body Identification Number||
|home.dest| Home/destination||

- Read data and describe it
- Find columns with missing data
- Print shape of dataset
- drop columns with more than 25% missing data
- drop columns having independent values(which do not affect the survival rate).


- check data types of all columns
- convert price to numeric
- find columns still having missing/na values and also count of missing data
- fill na with mean for fare and age column column.
- drop na values for embarked column.
- dump the dataframe to a csv file 'titanic_filtered.csv'.


- for surviced column replace 0 with D and 1 with A
- find the frequency of different values in survived column
- group by gender and survived and see the counts in each category
- find different pclass and no of people in each class

- find top 5 people with highest values of age. Count no of male and females in the top 5
- find max age male and female who survived
- get average age by gender
- get average age by people survived vs not-survived

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read data and describe it
df = pd.read_csv(r'C:\Users\Admin\Desktop\dsc_weekday_1\Assignments\titanic_dataset.csv')
# print(df.head(3))
print(df.describe(include = 'all'))

         Unnamed: 0       pclass     survived              name gender  \
count   1309.000000  1309.000000  1309.000000              1309   1309
unique          NaN          NaN          NaN              1307      2
top             NaN          NaN          NaN  Kelly, Mr. James   male
freq            NaN          NaN          NaN                 2    843
mean     654.000000     2.294882     0.381971               NaN    NaN
std      378.020061     0.837836     0.486055               NaN    NaN
min        0.000000     1.000000     0.000000               NaN    NaN
25%      327.000000     2.000000     0.000000               NaN    NaN
50%      654.000000     3.000000     0.000000               NaN    NaN
75%      981.000000     3.000000     1.000000               NaN    NaN
max     1308.000000     3.000000     1.000000               NaN    NaN

                age        sibsp        parch    ticket    fare        cabin  \
count   1046.000000  1309.000000  1309.000000      1309    1308          295
unique          NaN          NaN          NaN       929     263          186
top             NaN          NaN          NaN  CA. 2343  $8.05   C23 C25 C27
freq            NaN          NaN          NaN        11      60            6
mean      29.881135     0.498854     0.385027       NaN     NaN          NaN
std       14.413500     1.041658     0.865560       NaN     NaN          NaN
min        0.166700     0.000000     0.000000       NaN     NaN          NaN
25%       21.000000     0.000000     0.000000       NaN     NaN          NaN
50%       28.000000     0.000000     0.000000       NaN     NaN          NaN
75%       39.000000     1.000000     0.000000       NaN     NaN          NaN
max       80.000000     8.000000     9.000000       NaN     NaN          NaN

       embarked boat        body     home.dest
count      1307  486  121.000000           745
unique        3   27         NaN           369
top           S   13         NaN  New York, NY
freq        914   39         NaN            64
mean        NaN  NaN  160.809917           NaN
std         NaN  NaN   97.696922           NaN
min         NaN  NaN    1.000000           NaN
25%         NaN  NaN   72.000000           NaN
50%         NaN  NaN  155.000000           NaN
75%         NaN  NaN  256.000000           NaN
max         NaN  NaN  328.000000           NaN

In [3]:
# Find columns with missing data

print(df.columns[df.isna().any()])

# a = df.count()
# print(a)
# a[a < df.shape[0]].index

# print(df.columns[df.isnull().any()])

Index(['age', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'], dtype='object')

In [4]:
# Print shape of dataset

print(df.shape)

(1309, 15)

In [5]:
# drop columns with more than 25% missing data

p = len(df)*.75
df.dropna(thresh = p, axis=1, inplace = True)
print(df.columns)

Index(['Unnamed: 0', 'pclass', 'survived', 'name', 'gender', 'age', 'sibsp',
       'parch', 'ticket', 'fare', 'embarked'],
      dtype='object')

In [6]:
# drop columns having independent values(which do not affect the survival rate).

df.drop(columns = ['Unnamed: 0', 'name'], inplace= True)
print(df.columns)

Index(['pclass', 'survived', 'gender', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'embarked'],
      dtype='object')

In [7]:
# check data types of all columns

print(df.dtypes)

pclass        int64
survived      int64
gender       object
age         float64
sibsp         int64
parch         int64
ticket       object
fare         object
embarked     object
dtype: object

In [8]:
# convert price to numeric

df['fare'] = df['fare'].str.replace('$','').astype('float64')

In [9]:
print(df['fare'].dtypes)

float64

In [10]:
# find columns still having missing/na values and also count of missing data

a = df.columns[df.isna().any()]
print(a)
c = df.shape[0]-df.count()
print(c[a])

Index(['age', 'fare', 'embarked'], dtype='object')
age         263
fare          1
embarked      2
dtype: int64

In [11]:
# fill na with mean for fare and age column column.

df.fare.fillna(round(df.fare.mean()), inplace = True)
df.age.fillna(round(df.age.mean()), inplace = True)
print(df.isna().sum())

pclass      0
survived    0
gender      0
age         0
sibsp       0
parch       0
ticket      0
fare        0
embarked    2
dtype: int64

In [12]:
# drop na values for embarked column
df.dropna(subset = ['embarked'], inplace = True)
print(df.isna().sum())

pclass      0
survived    0
gender      0
age         0
sibsp       0
parch       0
ticket      0
fare        0
embarked    0
dtype: int64

In [13]:
# dump the dataframe to a csv file 'titanic_filtered.csv'.

df.to_csv('titanic_filtered.csv', index=False)

In [14]:
# for survived column replace 0 with D and 1 with A

df['survived'].replace({0:'D', 1: 'A'}, inplace =True)
print(df['survived'])

0       A
1       A
2       D
3       D
4       D
       ..
1304    D
1305    D
1306    D
1307    D
1308    D
Name: survived, Length: 1307, dtype: object

In [15]:
# find the frequency of different values in survived column

print(df['survived'].value_counts())

D    809
A    498
Name: survived, dtype: int64

In [16]:
# group by gender and survived and see the counts in each category

a= df.groupby(by = ['gender']).count()[['survived']]

# print('Male survived: ',np.array(a['male',1]).size)

# print('Female survived: ',np.array(a['female',1]).size)
print(a)

        survived
gender
female       464
male         843

In [17]:
# find different pclass and no of people in each class

g = df['pclass'].value_counts()
print(g)

# print(np.array(g[1]).size)

3    709
1    321
2    277
Name: pclass, dtype: int64

In [18]:
# find top 5 people with highest values of age. Count no of male and females in the top 5
print(df.sort_values(by ='age').head()['gender'].value_counts())

male      4
female    1
Name: gender, dtype: int64

In [19]:
# find max age male and female who survived

a = (df['survived'] == 'A')

print(df[a].gender.value_counts())

# df['survived'].value_counts()

female    337
male      161
Name: gender, dtype: int64

In [20]:
# get average age by gender

print(round(df.groupby(by='gender')['age'].mean()))

gender
female    29.0
male      30.0
Name: age, dtype: float64

In [21]:
# get average age by people survived vs not-survived

print(round(df.groupby(by='survived')['age'].mean()))

survived
A    29.0
D    30.0
Name: age, dtype: float64